/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
   * colors
   */

    /* gradient */

    --bg-gradient-onyx: linear-gradient(to bottom right,
            hsl(240, 1%, 25%) 3%,
            hsl(0, 0%, 19%) 97%);
    --bg-gradient-jet: linear-gradient(to bottom right,
            hsla(240, 1%, 18%, 0.251) 0%,
            hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
    --bg-gradient-yellow-1: linear-gradient(to bottom right,
            hsl(45, 100%, 71%) 0%,
            hsla(36, 100%, 69%, 0) 50%);
    --bg-gradient-yellow-2: linear-gradient(135deg,
            hsla(45, 100%, 71%, 0.251) 0%,
            hsla(35, 100%, 68%, 0) 59.86%), hsl(240, 2%, 13%);
    --border-gradient-onyx: linear-gradient(to bottom right,
            hsl(0, 0%, 25%) 0%,
            hsla(0, 0%, 25%, 0) 50%);
    --text-gradient-yellow: linear-gradient(to right,
            hsl(45, 100%, 72%),
            hsl(35, 100%, 68%));

    /* solid */

    --jet: hsl(0, 0%, 22%);
    --onyx: hsl(240, 1%, 17%);
    --eerie-black-1: hsl(240, 2%, 13%);
    --eerie-black-2: hsl(240, 2%, 12%);
    --smoky-black: hsl(0, 0%, 7%);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 0%, 98%);
    --orange-yellow-crayola: hsl(45, 100%, 72%);
    --vegas-gold: hsl(45, 54%, 58%);
    --light-gray: hsl(0, 0%, 84%);
    --light-gray-70: hsla(0, 0%, 84%, 0.7);
    --bittersweet-shimmer: hsl(0, 43%, 51%);

    /**
   * typography
   */

    /* font-family */
    --ff-poppins: 'Poppins', sans-serif;

    /* font-size */
    --fs-1: 24px;
    --fs-2: 18px;
    --fs-3: 17px;
    --fs-4: 16px;
    --fs-5: 15px;
    --fs-6: 14px;
    --fs-7: 13px;
    --fs-8: 11px;

    /* font-weight */
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;

    /**
   * shadow
   */

    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
    --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
    --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

    /**
   * transition
   */

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease-in-out;

}

/* Neeraj's Magic Sauce */

.about > .back {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    position: relative;
    width:fit-content;
    gap: 4px;
    margin: 4px 0 12px 0;

    padding: 8px 16px 8px 14px;
    border-radius: 16px;

    font-size: var(--fs-7);
    font-family: var(--ff-poppins);
    color: var(--orange-yellow-crayola);
    background-color: var(--onyx);
    border: 1px solid var(--jet);

    transition:cubic-bezier(0.075, 0.82, 0.165, 1);
}

.about > .back:hover {
    background-color:hsl(0, 0%, 21%);
}

.about > .about-text {
    font-size: var(--fs-2);
    font-weight: var(--fw-500);
    color: var(--vegas-gold);
    padding: 1rem 2rem 0 2rem;
    margin-bottom: 2rem;
}

/* -------------------------------------- */

.about > .service {
    margin: 2rem 0;
}

/* -------------------------------------- */

.about > .the-why-behind-the-project {
    margin-bottom: 16px;
    margin-top: 0;
}

.about > .the-why-behind-the-project > .service-list > .service-item > .service-content-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:4px;
}

.about>.the-why-behind-the-project>.service-list>.service-item>.service-content-box>.service-item-title {
    text-align: left;
    font-size: var(--fs-2);
}

.about > .the-why-behind-the-project > .service-list > .service-item > .service-content-box > .service-item-text {
    text-align: left;
    font-size: var(--fs-5);
}

.about>.the-why-behind-the-project>.service-list>.service-item>.service-content-box>.service-item-text > strong{
    color: var(--orange-yellow-crayola);
}


/* ------------------------------- */

.about-the-project .service-item-bubbles {
    display: flex;
    flex-direction: row;
    width: inherit;
    flex-wrap: wrap;
    gap: 8px;
}

.about-the-project .sit-bubble {
    color: white;
    background-color: var(--jet);
    width: auto;
    padding: 8px 16px;
    font-size: var(--fs-6);
    border-radius: 20px;
}

.about-the-project .bubble-box {
    display: flex;
    flex-direction: row;
    flex-wrap: warp;
    gap: 8px;
}

.about-the-project .bubble-box > .sit-bubble {
    display: flex;
    width: max-content;
}

/* ------------------------------- */

.personas .persona-title, .persona-content {
    color: white;
}

#testy-img {
    width: 200px;
}

#persona-name {
    margin-top: 170px;
    margin-left: 0px;
    font-size: var(--fs-4);
    color: white;
    font-weight: var(--fw-500);
}

.persona-description {
    color: white;
    font-weight: var(--fw-400);
}

.persona-title {
    font-weight: var(--fw-500);
    margin-top: 8px;
}

.persona-content {
    color:hsl(0, 0%, 84%);
    font-weight: 100;
    width: 80%;
}

/* ---------------------------------- */

.survey-card-title {
    color: white;
    font-family: var(--ff-poppins);
    font-size: var(--fs-2);
    font-weight: var(--fw-500);
    margin-top: 1.5rem;
}

.survey-question {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 1rem;;
}

.survey-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 8px;
    overflow: hidden;
}

.survey-bar-section {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    font-size: var(--fs-8);
    height: 2rem;
    padding: 4px;
    color: var(--onyx);
}

/* ---- survey 1 -------- */

.question-1 > .survey-bar-section:nth-child(1) { 
    width: 25%; 
    background: var(--bittersweet-shimmer);
    color: white;
}

.question-1 > .survey-bar-section:nth-child(2) { 
    width: 30%; 
    background: var(--orange-yellow-crayola)
}

.question-1 > .survey-bar-section:nth-child(3) { 
    width: 30%; 
    background-color: var(--vegas-gold);
}

.question-1 > .survey-bar-section:nth-child(4) { 
    width: 25%; 
    background-color: white;
}

/* ---------- survey 2 ---------------- */

.question-2 > .survey-bar-section:nth-child(1) {
    width: 15%;
    background: var(--bittersweet-shimmer);
    color: white;
}

.question-2 > .survey-bar-section:nth-child(2) {
    width: 30%;
    background: var(--orange-yellow-crayola)
}

.question-2 > .survey-bar-section:nth-child(3) {
    width: 30%;
    background-color: var(--vegas-gold);
}

.question-2 > .survey-bar-section:nth-child(4) {
    width: 25%;
    background-color: white;
}
/* ---------- survey 3 ---------------- */

.question-3 > .survey-bar-section:nth-child(1) {
    width: 15%;
    background: var(--bittersweet-shimmer);
    color: white;
}

.question-3 > .survey-bar-section:nth-child(2) {
    width: 30%;
    background-color: var(--orange-yellow-crayola);
}

/* ---------- survey 4 ---------------- */

.question-4 > .survey-bar-section:nth-child(1) {
    width: 15%;
    background: var(--bittersweet-shimmer);
    color: white;
}

.question-4 > .survey-bar-section:nth-child(2) {
    width: 30%;
    background: var(--orange-yellow-crayola);
}

.question-4 > .survey-bar-section:nth-child(3) {
    width: 40%;
    background-color: var(--vegas-gold);
}

.question-4 > .survey-bar-section:nth-child(4) {
    width: 15%;
    background-color: white;
}
/* ---------- survey 5 ---------------- */

.question-5 > .survey-bar-section:nth-child(1) {
    width: 15%;
    background: var(--bittersweet-shimmer);
    color: white;
}

.question-5 > .survey-bar-section:nth-child(2) {
    width: 30%;
    background: var(--orange-yellow-crayola)
}

.question-5 > .survey-bar-section:nth-child(3) {
    width: 30%;
    background-color: var(--vegas-gold);
}