.Navigation {
    text-align: center;
}

.Navigation-Container {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Navigation-Container > .spacer {
    flex-grow: 1;
}

.Navigation-Container > .nav-item {
    margin: 8px 12px;
}

.Navigation-Container > .nav-item > a {
    text-decoration: none;
    color: #fff;
    opacity: ;
}